In [81]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [82]:
data = pd.read_csv('MHA_population_Final.csv')
data

,Unnamed: 0,Census Year,District,Taluka,Town/Village,No. of households,Total population,Total male population,Total female population,Total 0 to 6 year children,...,Total iliterates,Male iliterates,Female iliterates,Total main workers,Male main workers,Female main workers,Total non workers,Male non workers,Female non workers,workforce_participation_rate
0,0,2011,AHMADNAGAR,AKOLA,ABIT KHIND,201,732,359,373,73,...,313.0,115.0,198.0,424,204,220,285,143,142,0.579235
1,1,2011,AHMADNAGAR,AKOLA,AGAR,37,247,162,85,27,...,58.0,26.0,32.0,106,58,48,140,103,37,0.429150
2,2,2011,AHMADNAGAR,AKOLA,AGASTINAGAR,357,1536,799,737,178,...,462.0,192.0,270.0,787,439,348,681,332,349,0.512370
3,4,2011,AHMADNAGAR,AKOLA,AMBAD,529,2590,1352,1238,333,...,845.0,350.0,495.0,1491,763,728,1083,580,503,0.575676
4,5,2011,AHMADNAGAR,AKOLA,AMBEVANGAN,194,765,378,387,96,...,395.0,142.0,253.0,537,259,278,222,116,106,0.701961
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114778,132308,1991,YAVATMAL,YAVATMAL,YAWALI,333,1764,912,852,324,...,202.0,48.0,111.0,976,527,449,777,382,395,0.553288
114779,132310,1991,YAVATMAL,YAVATMAL,YELABARA,489,2381,1237,1144,364,...,202.0,48.0,111.0,1111,643,468,1249,588,661,0.466611
114780,132311,1991,YAVATMAL,YAVATMAL,YERAD,234,1162,588,574,189,...,202.0,48.0,111.0,581,302,279,559,283,276,0.500000
114781,132312,1991,YAVATMAL,YAVATMAL,YEVATI,103,461,232,229,77,...,202.0,48.0,111.0,246,143,103,204,87,117,0.533623
114782,132314,1991,YAVATMAL,YAVATMAL,ZULI,124,592,306,286,98,...,202.0,48.0,111.0,341,185,156,242,120,122,0.576014

In [83]:
#Filling the missing values with means
if data.isnull().values.any():
    data.fillna(data.mean(), inplace=True)

In [84]:
X = data[['Total main workers', 'Male main workers', 'Female main workers', 'Total non workers', 'Male non workers', 'Female non workers']]
y = data['workforce_participation_rate']

In [85]:
# Split the dataset 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=44, shuffle =True)

In [86]:
# Train the model
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [87]:
print('Train Score is : ' , model.score(X_train, y_train))
print('Test Score is : ' , model.score(X_test, y_test))

Train Score is :  0.49663272463298536
Test Score is :  0.4973396337600311

In [88]:
y_pred = model.predict(X_test)
print('Predicted Value is : ' , y_pred[:10])

Predicted Value is :  [0.65897778 0.36278247 0.46328136 0.45044966 0.44338769 0.5154053
 0.37553063 0.43773737 0.46288946 0.42274181]

In [89]:
print('Testes value is ' , y_test[:10])

Testes value is  33013    0.538073
60995    0.447039
75372    0.475495
68380    0.482940
94842    0.540179
99192    0.659836
57234    0.236755
85767    0.560000
69113    0.411370
79980    0.430019
Name: workforce_participation_rate, dtype: float64